body { /*СТИЛИ ТЕЛА САЙТА*/
  padding: 0 30px; /*ВНУТРЕННИЕ ОТСТУПЫ БЛОКА*/
  font-size: 20px; /*РАЗМЕР ШРИФТА*/
  line-height: 26px; /*ВЫСОТА СТРОКИ*/
  font-family: "Arial", sans-serif; /*ИСПОЛЬЗУЕМЫЙ ШРИФТ*/
  color: #222222; /*ЦВЕТ БЛОКА*/

  background: #ffffff url("img/bg-page.png") no-repeat top center;
} /*КОРРЕКЦИЯ ФОНА*/

h1 { /*СТИЛИ 1-ОГО ЗАГОЛОВКА*/
  font-size: 24px;
  line-height: normal;
}

h2 { /*СТИЛИ 2-ОГО ЗАГОЛОВКА*/
  font-size: 20px;
  line-height: normal;
}

pre,
code { /*СТИЛИ ТЕГА <CODE> В ТЕГЕ <PRE>*/
  background-color: #fafaff; /*ЦВЕТ ФОНА*/
  border: 1px solid #c6c4f4; /*ГРАНИЦА*/
  border-radius: 4px; /*РАДИУС СКРУГЛЕНИЯ*/
  color: #3632ad; /*ЦВЕТ*/
  font-family: "Courier New", "Courier", monospace;
}

pre { /*СТИЛИ ТЕГА <PRE>*/
  padding: 5px;
}

code { /*СТИЛИ ТЕГА <CODE>*/
  padding: 2px 5px;
}

pre code {
  background-color: transparent;
  border-radius: none;
  border: none;
}

blockquote { /*СТИЛИ ТЕГА <BLOCKQUOTE>*/
  padding-left: 14px; /*ЛЕВЫЙ ОТСТУП*/
  border-left: 2px solid #6a2cce; /*ЛЕВАЯ ГРАНИЦА*/
  color: #6a2cce;
}

cite { /*СТИЛИ ТЕГА <CITE>*/
  color: #222222;
}

time { /*СТИЛИ ТЕГА <TIME>*/
  color: #6a2cce;
}

a[href] { /*СТИЛИ АТРИБУТА "HREF" В ТЕГЕ <A>*/
  color: #0099ef;
  text-decoration: underline; /*ДЕКОРАЦИЯ ТЕКСТА*/
}

del { /*СТИЛИ ТЕГА <DEL>*/
  color: #ff4400;
}

ins { /*СТИЛИ ТЕГА <INS>*/
  color: rgb(105, 178, 83);
}

del,
ins { /*СТИЛИ ТЕГА <INS> В ТЕГЕ <DEL>*/
  text-decoration: none;
}

em,
i { /*СТИЛИ ТЕГА <I> В ТЕГЕ <EM>*/
  font-style: normal;
}

.look { /*СТИЛИ КЛАССА .LOOK*/
  font-weight: bold;
}
.avatar-container { /*СТИЛИ КЛАССА .AVATAR-CONTAINER*/
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;

  background-color: rgba(68, 112, 196, 0.7);
  border: 5px solid #2d508f;

  color: #ffffff;
}

.blog-navigation h2 {
  margin-top: 0;
}

.blog-navigation ul {
  list-style: none;
  padding-left: 0;
}

.blog-navigation li {
  margin-bottom: 5px;
}

.blog-navigation a {
  color: #ffffff;
}

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #e8e8e8;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

.skills-level-med {
 background-color: darkorange;
}

.skills-level-bad {
  background-color: crimson;
}

.days {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
}

figcaption {
  width: 502px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: center;
  background-color: rgb(202, 224, 248);
}

.pagination {
  text-align: center;
  color: #888888;
}

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.partnership {
  margin: 30px 0;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #4a87fa;
  background-image: url("img/bg-partnership.svg");
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.italic {
  font-style: italic;
}
